<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
 <div class="wrapper">
    <header>

        <a href="/"><h1>Just Tech News</h1></a>

      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
        Thanks for visiting!
        <ul>
          <li>
            <a href="https://github.com/grsmith35" target="_blank">My Github</a>
          </li>
          <li>
            <a href="mailto:riley_smith8@hotmail.com">Contact me</a>
          </li>
        </ul>
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>