<section>
    <h2>Add New Post</h2>

    <form action="newpost">
        <div>
            <label for="post-type">Post Type</label>
            <select name="post-options" id="post-options">
                <option value="" selected="selected">Select Post Type</option>
                <option value="article">Article</option>
                <option value="blog-post">Blog Post</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title">
        </div>
        <div>
            <label for="article_url">URL</label>
            <input type="text" id="article_url">
        </div>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Current Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit{{post.id}}" class="edit-link">Edit Post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post"></script>