 <div class="wrapper">
    <header class="header">
      <nav>
        <a href="#">Home</a>
        <a href="#">Dashboard</a>
        <a href="#">Logout</a>
      </nav>
      <h1>
        <a href="/">My Tech Blog</a>
      </h1>
    </header>
    <main>
      This is the body
    </main>
    <footer>
      Get lost!
    </footer>
  </div>